manifest/**
_CommonRedist/**
bin/**
platform/**
dota/**

dota.exe
steam_appid.txt
thirdpartylegalnotices.txt

content/*
!content/dota_addons
content/dota_addons/*
!content/dota_addons/dotf

game/*
!game/dota_addons
game/dota_addons/*
!game/dota_addons/dotf

*.bin
*_c
*.cfg

game/dota_addons/dotf/scripts/npc/npc_*_custom.txt
!game/dota_addons/dotf/scripts/npc/npc_items_custom.txt
