manifest/**

content/*
!content/dota_addons
content/dota_addons/*
!content/dota_addons/dotf

game/*
!game/dota_addons
game/dota_addons/*
!game/dota_addons/dotf
game/dota_addons/dotf/*.bin
game/dota_addons/dotf/*_c
game/dota_addons/dotf/tools_asset_info.bin

**/*.bin
**/*_c