<%= config.title %>

<%= config.description %>
<% if (config.reviewers && config.reviewers.length > 0) { %>===CODE REVIEW===<% } %>
<% _.forEach(config.reviewers, function(reviewer) { %> - [ ] <%- reviewer %>
<% }); %>